*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.float-left{
  float: left;
}

body{
  font-family: 'Fredoka', sans-serif;
}

main{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1{
  color: #ba2c5e;
  margin-bottom: 50px;
  margin-top: 50px;
}

p{
  margin-bottom: 50px;
}

.card{
  width: calc(100% / 3);
  padding: 20px;
}

.float-card{
  width: 100%;
  color: white;
  background-color: black;
}

.float-card img{
  width: 100px;
  height: 100px;
}

.detail{
  text-align: left;
  padding-left: 10px;
}

.blue-print{
  color: #3eb2d3;
}